.container{
	min-width: 1000px;/*最小宽度*/
	min-height: 600px;/*最小高度*/
	width: 100%;
	height: 100%;
	margin: 0px auto;
	font-family: "微软雅黑";
	position: relative;
	text-align: left;
	color: #333;
}
.index_banner{	
	width: 100%;
	height: 100%;
	position: relative;
}
.index_banner>img{
	width: 100%;
	height: 100%;
	display: block;
}
.index_banner1{	
	width: 100%;
	height: 100%;
	position: relative;/*相对定位*/
}
.index_banner1>img{
	width: 100%;
	height: 100%;
	display: block;
}
.enter{
	width: 15%;
	position: absolute;/*绝对定位*/
	top: 73%;
    right: 38%;
}
.enter>a>img{
	display: block;/*转换为块级元素*/
	width: 100%;
}
.enter1{
	width: 40%;
	position: absolute;/*绝对定位*/
	top: 72%;
    right: 30%;
}
.enter1>a>img{
	display: block;
	width: 100%;
}
/*版权*/
.footer_index{
	clear: both;
	position: absolute;/*绝对定位*/
	bottom:0;
	left: 50%;
	text-align: center;
	color: #000000;
	letter-spacing: 1px;/*字间距*/
	height: 70px;
	line-height: 70px;
	font-size: 12px;
}
